/* Game option plus text */
.option-container {
    display: flex;
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
    width: 100%;
    border: solid rgba(255, 255, 255, 0.678) 0.1rem;
    border-radius: 1rem 1rem;
}

.option-container:hover {
    cursor: pointer;
    transform: translateY(-0.6rem);
}

.option-prefix {
    color: rgba(255, 0, 0, 0.709);
    padding: 1.5rem 2.5rem;
}

.option-text {
    width: 100%;
    padding: 1.4rem;
}

/* Correct and wrong answers */
.correct {
    border: 1px solid rgb(255, 255, 255);
    outline-style: solid;
    outline-color: green;
    background-color: green !important;
}

.incorrect {
    border: 1px solid rgb(255, 255, 255);
    outline-style: solid;
    outline-color: red;
    background-color: rgba(255, 0, 0, 0.488) !important;
}

/* Heads up display */
.hud-main-text {
    text-align: center;
}

#hud {
    display: flex;
    justify-content: space-between;
}

.hud-prefix {
    font-size: 2.2rem;
    font-family: 'Nosifer', cursive;
}